" vim:set ft=vim:

"The prefix key.
nnoremap [denite] <Nop>
nmap <Leader>f [denite]

nnoremap <silent> [denite]m :<C-u>Denite file/old<CR>
nnoremap <silent> [denite]b :<C-u>Denite buffer<CR>
nnoremap <silent> [denite]d :<C-u>Denite directory_old<CR>
nnoremap <silent> [denite]a :<C-u>Denite file_rec file/old buffer<CR>
nnoremap <silent> [denite]y :<C-u>Denite neoyank<CR>
nnoremap <silent> [denite]l :<C-u>Denite line<CR>
nnoremap <silent> [denite]o :<C-u>Denite outline<CR>
nnoremap <silent> [denite]f :<C-u>Denite `finddir('.git', ';') != '' ? 'file/rec/git' : 'file/rec'`<CR>
"nnoremap <silent> [denite]f :<C-u>Denite file/rec/git<CR>
" grepしたウィンドウに名前をつけて(-buffer-name), もし検索結果が無い場合はウィンドウを開かない(-no-empty)
nnoremap <silent> [denite]g :<C-u>Denite grep -buffer-name=search-buffer-denite -no-empty<CR>
" grep検索結果の再呼出(同時に次の候補に移動した状態で開く)
nnoremap <silent> [denite]r :<C-u>Denite -resume -buffer-name=search-buffer-denite<CR>
nnoremap <silent> [denite]n :<C-u>Denite -resume -buffer-name=search-buffer-denite -select=+1 -immediately -no-cursor-wrap<CR>
nnoremap <silent> [denite]p :<C-u>Denite -resume -buffer-name=search-buffer-denite -select=-1 -immediately -no-cursor-wrap<CR>
nnoremap <silent> [denite]h :<C-u>Denite command_history -default-action=edit_and_execute<CR>

" incremental grepのショートカット
command! Dgrep :Denite grep:::!

" Denite rails ショートカット
nnoremap [drails] <Nop>
nmap <Leader>r [drails]
nnoremap [drails]r :Denite<Space>rails:
nnoremap <silent> [drails]d :<C-u>Denite<Space>rails:dwim<Return>
nnoremap <silent> [drails]m :<C-u>Denite<Space>rails:model<Return>
nnoremap <silent> [drails]c :<C-u>Denite<Space>rails:controller<Return>
nnoremap <silent> [drails]v :<C-u>Denite<Space>rails:view<Return>
nnoremap <silent> [drails]h :<C-u>Denite<Space>rails:helper<Return>
" nnoremap <silent> [drails]r :<C-u>Denite<Space>rails:test<Return>
nnoremap <silent> [drails]s :<C-u>Denite<Space>rails:spec<Return>


" Define mappings
autocmd FileType denite call s:denite_my_settings()
function! s:denite_my_settings() abort
  nnoremap <silent><buffer><expr> <CR>
  \ denite#do_map('do_action')
  nnoremap <silent><buffer><expr> q
  \ denite#do_map('quit')
  nnoremap <silent><buffer><expr> i
  \ denite#do_map('open_filter_buffer')
  nnoremap <silent><buffer><expr> <Space>
  \ denite#do_map('toggle_select').'j'
endfunction
